*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', cursive;
}
/* NAVIGATION BAR */
#navigationBar{
    /* background-color: rgb(205, 129, 30); */
    width:100%;
    height:500px;
    position: relative;
   
}
#navigationBar .navbar{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#navigationBar .navbar .AppLink a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
#navigationBar .navbar #navLinks a{
    text-decoration: none;
    color: white;
    padding:0 25px;
    font-size: 20px;
    cursor: pointer;
}
#navigationBar .navbar #navLinks #icon_user{
    border:1px solid white;
    border-radius: 50%;
    color: white;
    padding:5px;
    display: none;
}
#navigationBar::before{
    content: "";
    position: absolute;
    background: url(images/heroSectionBackground.png) center;
    background-size: cover;
    height:490px;
    width:100%;
    top:0;
    left:0;
    z-index: -1;
}
#navigationBar #zomato_banner{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#navigationBar #zomato_banner #banner_img{
    height:60px;
    width: 300px;
}
#navigationBar #zomato_banner #banner_paragraph{
    color:white;
    font-size: 40px;
}
#navigationBar #zomato_banner #form_banner{
    width:800px;
    height:60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;

}
#navigationBar #zomato_banner #form_banner #place_banner_form{
    width: 35%;
    border: none;
    outline: none;
    border-right: 2px solid rgb(170, 168, 168);
    font-size: 16px;
    padding-left: 5px;
    color: rgb(143, 141, 141);
}
#navigationBar #zomato_banner #form_banner #search_items_here{
    width: 65%;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}
/* meida queries for Navigation bar */
@media only screen and (max-width:1000px){
    #navigationBar .navbar #navLinks #icon_user{
        display: flex;
    }
    #navLinks > a{
        display: none;
    }
    #navigationBar #zomato_banner #banner_paragraph{
        font-size:35px;
        text-align: center;
    }
    #navigationBar #zomato_banner #form_banner{
        width:600px;
        height:60px;
    }
}
@media (max-width:600px) and (min-width:500px){
    #navigationBar #zomato_banner #form_banner{
        width:500px;
        height:60px;
    }
}
@media (max-width:500px) and (min-width:400px){
    #navigationBar #zomato_banner #form_banner{
        width:400px;
        height:60px;
    }
}
@media (max-width:400px) and (min-width:300px){
    #navigationBar #zomato_banner #form_banner{
        width:300px;
        height:60px;
    }

}
/* Online Order and Dining Section */
#placeOrder{
    width: 100%;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#placeOrder .orderOnline{
    width:80vh;
    height: 250px;
    border: 2px solid rgb(225, 224, 224);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s ease-in;
}
#placeOrder .orderOnline img{
    width:100%;
    height: 70%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
#placeOrder .orderOnline .orderOnlineText{
    position: absolute;
    bottom:0;
    left:0;
    padding:10px 20px;
    font-size: 16px;
    font-weight: 400;
}
#placeOrder .orderOnline:hover{
    transform: scale(1.05);
}
#placeOrder .dining{
    width:80vh;
    height: 250px;
    border: 2px solid rgb(225, 224, 224);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s ease-in;
}
#placeOrder .dining img{
    width:100%;
    height: 70%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

#placeOrder .dining .diningText{

    position: absolute;
    bottom:0;
    left:0;
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400;
}

#placeOrder .dining:hover{
    transform: scale(1.05);
}
@media only screen and (max-width:950px){
    #placeOrder{
        height:650px;
    }
}
@media (max-width:1400px) and (min-width:950px){
    #placeOrder{
        height:400px;
    }
}

/* Collections */
#collection_main{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    overflow: hidden;
}
#collection_main #collction_heading{
    width:80%;
    height: auto;
    /* background-color: beige */
    font-weight: normal;
    font-size: 35px;
}
#collection_main #para_collections{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight:300;
}
#collection_main #para_collections span a{
    text-decoration: none;
    color: red;
}
#collection_main #collection_images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height:auto;
    /* gap: 15px; */
    margin-top:30px;
    justify-content: space-between;
}
#collection_main #collection_images .collectionimg1{
    width:280px;
    height:300px;
    background: url('images/collection1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position:relative;
}
#collection_main #collection_images .collectionimg1 > div{
    height:300px;
    width:280px;
    font-size:1.1rem;
    font-weight: 400;
    position: absolute;
    color: white;
    /* padding:20px; */
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
    );
}
#collection_main #collection_images .collectionimg1 .content{
    height: 300px;
    width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
}
#collection_main #collection_images .collectionimg1 .content h4{
    font-weight: 400;
}
/* 2 */
#collection_main #collection_images .collectionimg2{
    width:280px;
    height:300px;
    background: url('images/collection2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position:relative;
}
#collection_main #collection_images .collectionimg2 > div{
    height:300px;
    width:280px;
    font-size:1.1rem;
    font-weight: 400;
    position: absolute;
    color: white;
    /* padding:20px; */
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
    );
}
#collection_main #collection_images .collectionimg2 .content{
    height: 300px;
    width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
}
#collection_main #collection_images .collectionimg2 .content h4{
    font-weight: 400;
}
/* 3 */
#collection_main #collection_images .collectionimg3{
    width:280px;
    height:300px;
    background: url('images/collection3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position:relative;
}
#collection_main #collection_images .collectionimg3 > div{
    height:300px;
    width:280px;
    font-size:1.1rem;
    font-weight: 400;
    position: absolute;
    color: white;
    /* padding:20px; */
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
    );
}
#collection_main #collection_images .collectionimg3 .content{
    height: 300px;
    width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
}
#collection_main #collection_images .collectionimg3 .content h4{
    font-weight: 400;
}
/* 4 */
#collection_main #collection_images .collectionimg4{
    width:280px;
    height:300px;
    background: url('images/collection4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    position:relative;
}
#collection_main #collection_images .collectionimg4 > div{
    height:300px;
    width:280px;
    font-size:1.1rem;
    font-weight: 400;
    position: absolute;
    color: white;
    /* padding:20px; */
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.7)
    );
}
#collection_main #collection_images .collectionimg4 .content{
    height: 300px;
    width: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 15px;
}
#collection_main #collection_images .collectionimg4 .content h4{
    font-weight: 400;
}
/* collection section - media queries */
@media only screen and (max-width:600px){
    #collection_main{
        height:1600px;
    }
    #collection_main #collection_images{
        gap:10px;
    }
    #collection_main #para_collections span{
        display: none;
    }

}
@media (max-width:700px) and (min-width:601px){
    #collection_main{
        height:1400px;
    }
    #collection_main #collection_images{
        gap:10px;
        justify-content: center;
    }
}
@media (max-width:900px) and (min-width:701px){
    #collection_main{
        height:800px;
    }
    #collection_main #collection_images{
        gap:10px;
        justify-content: center;
    }
}
@media (max-width:1100px) and (min-width:901px){
    #collection_main{
        height:750px;
    }
    #collection_main #collection_images{
        gap:10px;
        justify-content: center;
    }
}
@media (max-width:1400px) and (min-width:1101px){
    #collection_main{
        height:700px;
    }
    #collection_main #collection_images{
        gap:10px;
        justify-content: center;
    }
}


/* Popular Localities */
#popular_Localities{
    width:100%;
    height:500px;
    display: flex;

    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap:30px;
    margin-top: 40px;
}
#popular_Localities #popular_localities_heading{
    width: 80%;
    height: auto;
    font-size: 30px;
}
#popular_Localities #localities_main{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
}
#popular_Localities #localities_main .localities_section1{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section1 .locality .para_localities_state{
    font-size: 20px;
}
#popular_Localities #localities_main .localities_section2{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section2 .locality .para_localities_state{
    font-size: 20px;
}

#popular_Localities #localities_main .localities_section3{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section3 .locality .para_localities_state{
    font-size: 20px;
}

/* section 2 */
#popular_Localities #localities_main .localities_section4{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section4 .locality .para_localities_state{
    font-size: 20px;
}
#popular_Localities #localities_main .localities_section5{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section5 .locality .para_localities_state{
    font-size: 20px;
}

#popular_Localities #localities_main .localities_section6{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section6 .locality .para_localities_state{
    font-size: 20px;
}
/* section 3 */
#popular_Localities #localities_main .localities_section7{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section7 .locality .para_localities_state{
    font-size: 20px;
}
#popular_Localities #localities_main .localities_section8{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section8 .locality .para_localities_state{
    font-size: 20px;
}

#popular_Localities #localities_main .localities_section9{
    width:390px;
    height:80px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(218, 218, 218);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 1px gainsboro;
}
#popular_Localities #localities_main .localities_section9 .locality .para_localities_state{
    font-size: 20px;
}
/* Hover Effects on popular localities */
#popular_Localities #localities_main .localities_section1:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}
#popular_Localities #localities_main .localities_section2:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}#popular_Localities #localities_main .localities_section3:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}
#popular_Localities #localities_main .localities_section4:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}
#popular_Localities #localities_main .localities_section5:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}#popular_Localities #localities_main .localities_section6:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}
#popular_Localities #localities_main .localities_section7:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}
#popular_Localities #localities_main .localities_section8:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}#popular_Localities #localities_main .localities_section9:hover{
    box-shadow: 0px 3px rgb(241, 238, 238);
}

/* media queries for popular localities */
@media only screen and (max-width:400px){
    #popular_Localities {
        height: 1000px;
        gap:2px;
    }
    #popular_Localities #localities_main{
        gap: 8px;
    }
}

@media  (max-width:1000px)and (min-width:400px){
    #popular_Localities {
        height: 900px;
        gap:2px;
    }
    #popular_Localities #localities_main{
        gap: 8px;
        justify-content: center;
    }
}

@media (max-width:1470px) and (min-width:1000px){
    #popular_Localities {
        height: 700px;
        gap:2px;
    }
    #popular_Localities #localities_main{
        gap: 8px;
    }
}
/* Get The App */
#getTheApp{
    width:100%;
    height:450px;
    background-color: rgb(255, 248, 241);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#getTheApp #getTheApp_section1 img{
    height:300px;
    width:280px;
}
#getTheApp #getTheApp_section2{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap:25px;
    margin-bottom: 60px;
}
#getTheApp #getTheApp_section2 .getTheApp_heading{
    font-size: 45px;
    font-weight: normal;
}
#getTheApp #getTheApp_section2 .getTheApp_form{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
#getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_radioButtons{
    font-size: 18px;
    display: flex;
    gap: 15px;
}
#getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_Email_getLink{
    display: flex;
    flex-direction: row;
    gap:15px;
}
#getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_Email_getLink .getTheLink_getTheApp{
    width: 280px;
    height:50px;
    border-radius: 5px;
    font-size: 18px;
    border:1px solid gainsboro;
    padding:10px 10px;
    font-weight: normal;
    color: rgb(231, 222, 222);
}
#getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_Email_getLink .getTheApp_ShareAppLink{
    width:140px;
    border-radius: 8px;
    color:white;
    background-color: red;
    border:none
}
#getTheApp .getTheApp_downloadText{
    color: rgb(156, 156, 156);
    font-weight: normal;
}
#getTheApp .getTheApp_downloadButtons .button_playStore img{
    width:130px;
    height: 40px;
}
#getTheApp .getTheApp_downloadButtons .button_appStore img{
    width:130px;
    height: 40px;
}

/* get the app media query */
@media only screen and (max-width:400px){
    #getTheApp {
        height: 1200px;
        /* gap:2px; */
    }
    #getTheApp #getTheApp_section2{
        margin-bottom: 0px;
        width: 50%;
    }
    #getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_Email_getLink {
        flex-wrap: wrap;
    }
}
@media (max-width:550px) and (min-width:401px){
    #getTheApp {
        height: 950px;
        /* gap:2px; */
    }
    #getTheApp #getTheApp_section2{
        margin-bottom: 0px;
        width: 50%;
    }
    #getTheApp .getTheApp_downloadButtons{
        display: flex;
        gap: 5px;
    }
    #getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_Email_getLink {
        flex-wrap: wrap;
    }
}
@media (max-width:850px) and (min-width:551px){
    #getTheApp {
        height: 800px;
        /* gap:2px; */
    }
    #getTheApp #getTheApp_section2{
        margin-bottom: 0px;
        width: 50%;
    }
    #getTheApp #getTheApp_section2 .getTheApp_form .getTheApp_Email_getLink {
        flex-wrap: wrap;
    }
}

/* Explore Options near me */
#explore_Option{
    width:100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#explore_Option .explore_option_para_credential{
    width: 80%;
    height:auto;
    font-size: 30px;

}
#explore_Option .explore_options_form{
    width: 80%;
    height: auto;
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
#explore_Option .explore_options_form #popular_cuisines{
    width:100%;
    height:80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    border-radius: 10px;
    border:1px solid rgb(245, 235, 235);
    font-size: 20px;
    cursor: pointer;
}
#explore_Option .explore_options_form #popular_restaurants{
    width:100%;
    height:80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    border-radius: 10px;
    border:1px solid rgb(245, 235, 235);
    font-size: 20px;
    cursor: pointer;
}
#explore_Option .explore_options_form #cities_we_deliver{
    width:100%;
    height:80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    border-radius: 10px;
    border:1px solid rgb(245, 235, 235);
    font-size: 20px;
    cursor: pointer;
}
/* Explore Section Media Query */
@media only screen and (max-width:400px){
    #explore_Option{
        height: 500px;
    }
}
@media (max-width:700px) and (min-width:401px){
    #explore_Option{
        height: 450px;
    }
}
/* footer section */
#footerSection{
    width:100%;
    height:450px;
    background-color:rgb(243, 243, 243);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#footerSection #footer_section_1{
    width:80%;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#footerSection #footer_section_1 img{
    width: 140px;
    height: 30px;
}

#footerSection #footer_section_1 .buttons_footer_section_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#footerSection #footer_section_1 .buttons_footer_section_1 button{
    display: flex;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    flex-direction: row;
    gap: 5px; 
    align-items: center;   
    border:1px solid rgb(194, 193, 193);
    cursor: pointer;
}
#footerSection #footer_section_1 .buttons_footer_section_1 button .footer_section_india_flag{
    width: 30px;
    height: 15px;
}
/* section-2 */
#footerSection #footer_section_2{
    width: 80%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
}
#footerSection #footer_section_2 .footerSection_info1{
    display: flex;
    flex-direction: column;
    gap:10px;

}
#footerSection #footer_section_2 .footerSection_info1 .footerSection_info1_links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;

}
#footerSection #footer_section_2 .footerSection_info1 .footerSection_info1_links a{
    text-decoration: none;
    color: gray;
    font-weight: 300;
}
#footerSection #footer_section_2 .footerSection_info1 .footerSection_info1_links a:hover{
    color:black;
    cursor: pointer;
}
#footerSection #footer_section_2 .footerSection_info2{
    display: flex;
    flex-direction: column;
    gap:10px;

}
#footerSection #footer_section_2 .footerSection_info2 .footerSection_info2_links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
}
#footerSection #footer_section_2 .footerSection_info2 .footerSection_info2_links a{
    text-decoration: none;
    color: gray;
    font-weight: 300;
}
#footerSection #footer_section_2 .footerSection_info2 .footerSection_info2_links a:hover{
    color:black;
    cursor: pointer;
}
#footerSection #footer_section_2 .footerSection_info3{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section1 .info3_section1_links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section1 .info3_section1_links a{
    text-decoration: none;
    color: gray;
    font-weight: 300;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section1 .info3_section1_links a:hover{
    color: black;
    cursor: pointer;
    
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section2 .info3_section2_links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section2 .info3_section2_links a{
    text-decoration: none;
    color: gray;
    font-weight: 300;
}
#footerSection #footer_section_2 .footerSection_info3 .info3_section2 .info3_section2_links a:hover{
    color: black;
    cursor: pointer;
}
#footerSection #footer_section_2 .footerSection_info4{
    display: flex;
    flex-direction: column;
    gap:10px;

}
#footerSection #footer_section_2 .footerSection_info4 .footerSection_info4_links{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 14px;
}
#footerSection #footer_section_2 .footerSection_info4 .footerSection_info4_links a{
    text-decoration: none;
    color: gray;
    font-weight: 300;
}
#footerSection #footer_section_2 .footerSection_info4 .footerSection_info4_links a:hover{
    color:black;
    cursor: pointer;
}
#footerSection #footer_section_2 .footerSection_info5{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#footerSection #footer_section_2 .footerSection_info5 .footerSection_info5_socialMediaLinks i{
    padding: 6px 6px;
    background-color: black;
    color:white;
    border-radius: 50%;
}
#footerSection #footer_section_2 .footerSection_info5 .footer_section_socialmedia_images img{
    width:145px;
    height:40px;
    margin-top: 7px;
}
/* footer section 3 */
#footerSection #footer_section_3{
    height: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top:1px solid gray;
}
#footerSection #footer_section_3 .copyright_footer_section_3{
    font-size: 13.5px;
    color: gray;
    /* border-top:1px solid gray; */
    padding:0 5px;
}
/* Media queries for footer section */
@media (min-width:320px) and (max-width:960px){
    #footerSection{
        height: 1000px;
        /* flex-wrap: wrap; */
    }
    #footerSection #footer_section_1{
        flex-wrap: wrap;
        margin: 50px;
        gap: 30px;
    }
    #footerSection #footer_section_2{
        height: 550px;
        gap: 10px;
    }
    #footerSection #footer_section_2 .footerSection_info5{
        text-align: center;

    }
    #footerSection #footer_section_2 .footerSection_info5 .footer_section_socialmedia_images img{
        width: 120px;
    }
    #footerSection #footer_section_3 .copyright_footer_section_3{
        padding-top:70px;
    }
}
@media only screen and (max-width:320px){
    #footerSection{
        height: 1400px;
        /* flex-wrap: wrap; */
    }
    #footerSection #footer_section_1{
        flex-wrap: wrap;
        margin: 50px;
        gap: 30px;
    }
    #footerSection #footer_section_2{
        height: 550px;
        gap: 15px;
    }
    /* #footerSection #footer_section_2 .footerSection_info5{
        text-align: center;

    } */
    #footerSection #footer_section_2 .footerSection_info5 .footer_section_socialmedia_images img{
        width: 120px;
    }
    #footerSection #footer_section_3{
        margin-top:380px;
    }
    #footerSection #footer_section_3 .copyright_footer_section_3{
        padding-top:180px;
    }
}
